<div class="menu-container">
  <header>
      <h1>Bonjour petit matheux!</h1>
      <p>Prêt à apprendre en t'amusant? Choisis une opération pour commencer!</p>
  </header>
  <div class="button-container">
      <button (click)="selectOperation('addition')">Addition</button>
      <button (click)="selectOperation('subtraction')">Soustraction</button>
      <button (click)="selectOperation('multiplication')">Multiplication</button>
      <button (click)="selectOperation('division')">Division</button>
  </div>
  <footer>
      <p>Allez, allez courage ! <br> SABTI 2024</p>
  </footer>
</div>
